In [14]:
import pandas as pd
#from sklearn.model_selection import LabelEncoder

# GitHub의 CSV 파일 URL
url = "https://raw.githubusercontent.com/MyungKyuYi/AI-class/refs/heads/main/titanic.csv"

df = pd.read_csv(url)

print(df.head)
print(df.columns)

<bound method NDFrame.head of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
df["Survived"].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [15]:
# 결측치 확인
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [16]:
# 결측치 제거
df = df.dropna()
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [17]:
# 레이블 확인
print(df.head)
print(df.columns)

<bound method NDFrame.head of      PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[183 rows x 12 columns]>
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

## Survived, Sex, Age, Fare만 데이터 프레임 생성
#### 그 외의 데이터 프레임은 제거한다.

In [18]:
from sklearn.preprocessing import LabelEncoder

exclude_columns = ['PassengerId', 'Name', 'Parch', 'Ticket', 'Cabin', 'Embarked', 'SibSp'] # 제외할 columns
target_columns = [col for col in df.columns if col not in exclude_columns] # 인코딩할 columns

label_encoders = {} # 라벨 인코더 저장 딕셔너리

for col in target_columns :
    label_encoders[col] = LabelEncoder() #LabelEncoder에 저장 안 하면 KeyError 발생
    df[col] = label_encoders[col].fit_transform(df[col])

## 인코딩할 columns를 X에 삽입 및 Y에 Survived columns를 삽입

In [19]:
from sklearn.model_selection import train_test_split

df = df.drop(columns = exclude_columns)

X = df.iloc[ :, :-1]
Y = LabelEncoder().fit_transform(df['Survived'])

In [20]:
print(df)

     Survived  Pclass  Sex  Age  Fare
1           1       0    0   32    57
3           1       0    0   28    44
6           0       0    1   49    41
10          1       2    0    4    10
11          1       0    0   53    17
..        ...     ...  ...  ...   ...
871         1       0    0   42    43
872         0       0    1   26     1
879         1       0    0   51    68
887         1       0    0   12    23
889         1       0    1   18    23

[183 rows x 5 columns]

## 모델에 삽입할 test, train 생성

In [21]:
xtest, xtrain, ytest, ytrain = train_test_split(X, Y, test_size = 0.3, random_state = 40)

In [22]:
# DT
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# DT 모델 학습
dt_model = DecisionTreeClassifier()
dt_model.fit(xtrain, ytrain)

#예측 및 평가
ypred = dt_model.predict(xtest)
DT_accuracy = accuracy_score(ytest, ypred)
print(f"DT 예측값 : {ypred[:6]}")
print(f"DT 정확도 : {DT_accuracy : .4f}\n")

DT 예측값 : [0 1 1 1 1 1]
DT 정확도 :  1.0000

In [23]:
# RF
from sklearn.ensemble import RandomForestClassifier

# RF 모델 학습
rf_model = RandomForestClassifier()
rf_model.fit(xtrain, ytrain)

# 예측 및 평가
ypred = rf_model.predict(xtest)
RF_accuracy = accuracy_score(ytest, ypred)
print(f"RF 예측값 : {ypred[:6]}")
print(f"RF 정확도 : {RF_accuracy : .4f}\n")

RF 예측값 : [0 1 1 1 1 1]
RF 정확도 :  1.0000

In [24]:
# SVM
from sklearn.svm import SVC

# SVM 모델 학습
svm_model = SVC()
svm_model.fit(xtrain, ytrain)

# 예측 및 평가
ypred = svm_model.predict(xtest)
SVM_accuracy = accuracy_score(ytest, ypred)
print(f"SVM 예측값 : {ypred[:6]}")
print(f"SVM 정확도 : {SVM_accuracy : .4f}\n")

SVM 예측값 : [1 1 1 1 1 1]
SVM 정확도 :  0.6875

In [25]:
# KNN
from sklearn.neighbors import KNeighborsClassifier

# KNN 모델 학습
knn_model = KNeighborsClassifier(n_neighbors=5)  # k값을 5로 설정
knn_model.fit(xtrain, ytrain)

# 예측 및 평가
ypred = knn_model.predict(xtest)
knn_accuracy = accuracy_score(ytest, ypred)

print(f"KNN 예측값 : {ypred[:5]}")
print(f"KNN 정확도 : {knn_accuracy:.4f}")

KNN 예측값 : [1 0 1 1 1]
KNN 정확도 : 0.7734